* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}



section {
  display: flex;
  gap: 10px;
}

main {
  width: 1000px;
  height: 600px
}

.chat-actions {

  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 20px;
}

h3 {
  font-weight: bold;
}

.chat-header {
  display: flex;
  padding: 20px;
  display: flex;
  width: 100%;
  gap: 10px;
  align-content: center;
}

img {
  width: 25px;
}

.contact-list {
  margin-left: 15px;
  margin-right: 10px;


}

li {
  display: flex;
  gap: 15px;
  align-items: center;
  white-space: nowrap;
  max-width: 80%;
  padding-left: 10px;
  margin: 0px;
  padding-right: 70px;

}

button {
  background-color: white;
  border: none;
}

p {
  margin-bottom: 10px;
}

h4 {
  margin-top: 15px
}

.search {
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  width: 90%;
  border-radius: 5%;
  border-width: 0.5px;
  border-color: grey;
  color: grey;
  margin-top: 15px
}


.messages {
  background-color: #F6F8F9;
  height: 80%;
  flex-direction: column;
  margin-bottom: 10px;
  display: flex;

}


.message-sent {


  width: 40%;
  margin-bottom: 0px;
  margin-left: auto;
  gap: 15p;
  padding: 10px;
  background-color: #e4f2f7;
  border-radius: 10px
}

.message-received-second {
  padding-right: 10px;
  width: 50%;
  margin-bottom: 0px;
  gap: 15px;
  padding: 10px;
  background-color: #EDEDED;
  border-radius: 10px
}

.message-received-first {

  width: 20%;
  margin-bottom: 0px;
  gap: 15px;
  padding: 10px;
  background-color: #EDEDED;
  border-radius: 10px
}

input {
  width: 100%;
  padding: 5px
}

.contact-aiden {
  background-color: #EFEFEF;
  border-radius: 10px;
  margin: 0px;
  padding-left: 10px;

}

.timestamp {
  color: grey;
  font-size: 12px;
}